mixin advice(title, content, icon)
    div(class="col-md-4")
        div(class="text-center")
            span(class="fa fa-#{icon} fa-5x")
        h3(class="text-center")=title
        p=content

- var advice_1 = {title: "Tu tecnología, tu vida", icon:"magic", content: "No botes a la basura tu celular, tablet, laptop o pc rotas. Ahora con la plataforma Voltus5 puedes tener al alcance de tus dedos traer de nuevo a la vida ese dispositivo que tanto amas."}
- var advice_2 = {title:"Publica tu problema", icon:"thumbs-o-up", content:"Tan sencillo como publicar tu problema en nuestro sitio o a través de nuestro número de servicio, la solución la tendrás tan rápido como sea posible y a través de SMS." }
- var advice_3 = {title: "Soporte 24 horas", icon:"bolt", content: "Nuestra plataforma tiene soporte 24/7, llama a nuestro número de atención al cliente y será atendido por una de nuestras operadoras."}

div(class="container")
    div(class="row", style="color:#1c2334")
        +advice(advice_1.title, advice_1.content, advice_1.icon)
        +advice(advice_2.title, advice_2.content, advice_2.icon)
        +advice(advice_3.title, advice_3.content, advice_3.icon)