footer.my-footer(class={loginfooter: currentUrl === '/signup' || currentUrl === '/login'})
    p Voltus 4 es una marca registrada perteneciente a IndieCub. 2017
    p Todos los derechos reservados.

script(src='/javascripts/jquery.min.js')
script(src='bootstrap/js/bootstrap.min.js')