div.form-group.has-success.has-feedback
    label(class="col-sm-2 control-label" for="inputSuccess2") Succes:
    div.col-sm-5
        input(type="text" class="form-control" id="inputSuccess2")
        span(class="glyphicon glyphicon-ok form-control-feedback")


div.form-group
    label(for="inputEmail", class="col-sm-2 control-label") Email:
    div.col-sm-5
        input(type="email", class="form-control", id="inputEmail", placeholder="Email")