extends layout

block content
  -var currentUrl = '/'

  include components/navbar.jade
  include components/jumbotron.jade
  include components/advice.jade
  include components/divider.jade
  include components/categories.jade
  //include components/divider.jade
  include components/footer.jade