doctype html
html(lang="en")
  head
    meta(charset="utf-8")
    meta(http-equiv="X-UA-Compatible", content="IE=edge")
    meta(name="viewport", content="width=device-width, initial-scale=1,  maximum-scale=1, user-scalable=no")
    meta(name="description", content="")
    meta(name="author", content="")

    title Voltus 5

    link(rel='stylesheet', href='bootstrap/css/bootstrap.min.css')
    link(rel='stylesheet', href='font-awesome/css/font-awesome.css')
    //link(rel='stylesheet', href='animate/animate.css')
    link(rel='stylesheet', href='styles.css')
    block styles

  body(style="background: #eaedf1")
    block content