<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" href="../../favicon.ico">

    <title>Starter Template for Bootstrap</title>

    <!-- Bootstrap core CSS -->
    <link href="bootstrap/css/bootstrap.min.css" rel="stylesheet">

    <link href="font-awesome/css/font-awesome.css" rel="stylesheet">

    <!-- Custom styles for this template -->
    <link href="styles.css" rel="stylesheet">

    <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
      <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->
  </head>

  <body>

    <div class="container">
    <!-- Static navbar -->
      <div class="navbar navbar-default" role="navigation">
        <div class="container-fluid">
          <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
              <span class="sr-only">Toggle navigation</span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="#"><span class="fa fa-vimeo"></span>oltus 4 </a>
          </div>
          <div class="navbar-collapse collapse">
            <ul class="nav navbar-nav navbar-right">
              <li class="active"><a href="index.html">Default</a></li>
              <li><a href="../navbar-static-top/index.html">Static top</a></li>
              <li><a href="../navbar-fixed-top/index.html">Fixed top</a></li>
            </ul>
          </div><!--/.nav-collapse -->
        </div><!--/.container-fluid -->
      </div>
    </div>


    <div class="container-fluid" style="margin-bottom: 60px">
      <div class="jumbotron" style="background:#1c2334; color:#2bc0f5" >
          <h1 class="text-center">Voltus 4</h1>
          <p class="text-center">La solución a todos tus problemas tecnológicos, te mantenemos conectado con la red de talleres de la Habana.</p>
          <p class="text-center">
            <a class="btn btn-lg btn-outline-inverse" href="../../components/#navbar" role="button"> Publica tu problema &raquo;</a>
          </p>
      </div>
    </div>


    <div class="container">
      <!-- Example row of columns -->
      <div class="row" style="color:#1c2334">
        <div class="col-md-4">
          <div class="text-center">
            <span class="fa fa-code fa-5x"></span>
          </div>
          <h3 class="text-center">Tu tecnología, tu vida</h3>
          <p>No botes a la basura tu celular, tablet, laptop o pc rotas.
            Ahora con la plataforma Voltus4 puedes tener al alcance de tus dedos
            traer de nuevo a la vida ese dispositivo que tanto amas.
          </p>
       </div>
        <div class="col-md-4">
          <div class="text-center">
            <span class="fa fa-bolt fa-5x"></span>
          </div>
          <h3 class="text-center">Publica tu problema</h3>
          <p>Tan sencillo como publicar tu problema en nuestro sitio o a través de nuestro número de servicio,
             la solución la tendrás tan rápido como sea posible y a través de SMS.
          </p>
       </div>
        <div class="col-md-4">
          <div class="text-center">
            <span class="fa fa-magic fa-5x"></span>
          </div>
          <h3 class="text-center">Soporte 24 horas</h3>
          <p>
            Nuestra plataforma tiene soporte 24/7, llama a nuestro número de atención al cliente
            y será atendido por una de nuestras operadoras.
          </p>
       </div>
      </div>

    </div>

    <div class="container">
      <hr style="margin-bottom: 60px">
    </div>

      <div class="container" style="margin-bottom:80px">
        <h2 class="text-center">
          <strong>CATEGORIAS</strong>
        </h2>
        <div class="row">
          <div class="col-md-3 col-xs-12" >
              <div class="card">
                <span class="fa fa-mobile-phone fa-4x" style="margin-top: 25px"></span>
              </div>
              <h2 class="centered-text"><strong>Celulares</strong></h2>
          </div>
          <div class="col-md-3 col-xs-12">
              <div class="card">
                <span class="fa fa-tablet fa-4x" style="margin-top: 25px"></span>
              </div>
              <h2 class="centered-text"><strong>Tablet</strong></h2>
          </div>
          <div class="col-md-3 col-xs-12">
              <div class="card">
                <span class="fa fa-laptop fa-4x" style="margin-top: 25px"></span>
              </div>
              <h2 class="centered-text"><strong>Laptop</strong></h2>
          </div>
          <div class="col-md-3 col-xs-12">
              <div class="card">
                <span class="fa fa-desktop fa-4x" style="margin-top: 30px"></span>
              </div>
              <h2 class="centered-text"><strong>PC</strong></h2>
          </div>
        </div>
      </div>
    
    <div class="container-fluid">
    <footer class="my-footer">
      <p>Voltus 4 es una marca registrada perteneciente a IndieCub. 2017</p>
      <p>
        Todos los derechos reservados.
      </p>
    </footer>
    </div>


    


    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="javascripts/jquery.min.js"></script>'
    <script src="bootstrap/js/bootstrap.min.js"></script>
    <!-- IE10 viewport hack for Surface/desktop Windows 8 bug -->
  </body>
</html>
